.Arrow{
    color: black;
    font-size: 3vh;
}

.livros{
    
}

button{
    height: 5vh;
    width: 10vh;
    background-color: white;
}

.buttons{
    padding: 0 3vh 3vh 3vh;
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.buttonLeft{
}

.buttonRight{
}

.text{
    padding: 0 20vh;
}